

div#blackHeader{
    background-color: #1e1e24;
    width: 100%;
    height: 80px;
    border: 2px solid black;
    margin-top: 4px ;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.logoBox{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
}

img#logo{
    width: 80px;
    height: 80px;

}

.Tools{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}
img#buy{
    width: 48px;
    height: 48px

}
img#login{
    width: 48px;
    height: 48px;

}
div#t1{
    width: 100%;
    display: flex;
    margin-top:16px;
    margin-bottom: 16px;
    margin-left: 56px;
    margin-right: 56px;
    align-items: center;
    justify-content:space-between;
}


div#i1{
    height: 166px;
    width: 480px;
    

}
img#Galo{

    margin-top: 40px;
    border: 10px solid white;
    border-radius: 54px;
    
    max-width:fit-content;
    height:128px;
    
    
}

div#i2{
    width: 480px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#t2{
    width: 100%;
    display: flex;
    margin-top:16px;
    margin-bottom: 16px;
    margin-right: 56px;
    margin-left: 56px;
    
    align-items: center;
    justify-content: space-between;


}

.banner{
    font-family: "Inter" ;
    font-weight: 900;
    font-size: 56;
    font-style: italic;
    color: white;

    text-shadow: 4px 4px black;
}


div#redHeader{
    background-color: #92140c;
    height: 32px;
    width: 100%;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 8px;


    font-family: "Inter";
    font-weight: 600;
    font-size: 24;
    font-style: italic;
    color: white;
  
    text-shadow: 2px 2px black;


}

div#sh1{
    width: 100%;
    display: flex;
    margin-left: 56px;
    margin-right: 56px;
    align-items: center;
    justify-content:space-between;
}

div#sh2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 56px;
    margin-left: 56px;
}   


div#expositor{
    background-color: #e8e9eb;
    width: 100%;
    height: 80vw;
    display: flex;
    flex-direction: column;
    
}

div#spaceBarLocal{
    margin-left: 64px;
    width: 100%;
    height: 24px;
    margin-top: 16px;
    display: flex;
}

.row{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: fit-content;
    margin-top: 16px;
    margin-bottom: 16px;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 80px


}
.coffee{
    width: 360px;
    height: 360px;
    background-color: white;
    margin: 8px;
    padding: 8px;
    border: 2px solid gray;
    border-radius: 32px;
    box-shadow: 8px 8px 8px grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Inter" ;
    text-shadow: 1px 1px  gray;
    font-size: 16px;
}

.container{
    display: flex;
    width: auto;
    height: 240px;
    width: 100%; 
    margin: 8px;
}
.cafeFoto{
    width: 256px;
    height: 240px;
    
}

.productImage{
    max-width: 100%;
    height: 240;
    border: 2px solid black;
    border-radius: 32px;
    box-shadow: 4px 4px 4px grey;
}

.info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    
    
    
    padding:16px;

}

.cafeDescription{
    color: gray;
    font-style: italic;
}

.productSale{
    display: flex;
    width: auto;
    height: 80px;
    margin: 8px;
    align-items: center;
    justify-content: space-between;
}
.qtnds{
    display: flex;
    width: 156px;
    margin: 16px;
    align-items: center;
    justify-content:space-evenly;
}

.display{
    width: 48px;
    height: 24px;
    border: 2px solid black;
    border-radius: 16px;

    justify-content: center;

}


.footer{
    background-color: #1e1e24;
    width: 100%;
    height: 64px;
    border: 2px solid black;
    display: flex;
    align-items: end;
    justify-content: space-between;
 
   

}

.compre{
    background-color: #1e1e24;
    font-size: 20px;
    border-radius: 24px;
    border: 2px solid black;
    width: 180px;
    height: 96px;
    color:white
    
}

.f1{
    display: flex;
    gap: 16px;
    align-items: end;
    justify-content: space-evenly;
    margin: 16px;
}

.f2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    margin: 16px;
   
}
body{
    margin:0px;
}
